<!--The content below is only a placeholder and can be replaced.-->
{{title | searchCourses}}
{{ now | date: long }}
<div class="container">

    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Search of text</span>
            </div>
            <input type="text" #search (keyup)="0" class="form-control" placeholder="Enter course name" aria-label="Username" aria-describedby="basic-addon1">
            
          </div>
    </div>
    <div class="row">
    <my-cardview *ngFor="let course of courses | searchCourses:search.value "  title={{course.title}} summary={{course.summary}}></my-cardview>
  </div>
  
</div>
