<h2> Awesome Bucketlist App </h2>

<!-- Table starts here -->
<table id="table">
    <thead>
      <tr>
        <th>firstname</th>
        <th>lastname</th>
        <th>SSID</th>
        <th> Email </th>
        <th> Delete </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of lists">
        <td>{{list.firstname}}</td>
        <td>{{list.lastname}}</td>
        <td>{{list.SSID}}</td>
        <td>{{list.email}}</td>
        <td> <button type="button" (click)="deleteList(list); $event.stopPropagation();">Delete</button></td>

      </tr>
    </tbody>
 </table>

<app-add-list> </app-add-list>
