<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in!!</p>
    <h3>All registered users:</h3>
    
	
	<table class="table table-hover">
	<thead>
  <tr>
      <td>User Name</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>
	
	
	<tr *ngFor="let user of users">
		<td>{{user.username}}</td>
		<td>{{user.firstName}}</td>
		<td>{{user.lastName}}</td>
		<td><button (click)="deleteUser(user._id)"  class="btn btn-danger">Delete</button></td>
		<td><a [routerLink]="['/upload']"><button type="button" class="btn btn-primary">Upload</button></a></td>
	<tr>
	
	</table>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>

